<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Shows in your Area</title>
</head>

<body>
    <h1>Successful Login</h1>
    <p>Hey, {{session['user_first_name']}}, here are shows in your area! <a href='/shows/new'>Make a new show</a></p>

    <table>
        <thead>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        {% for show in shows %}
        <tr>
            <td>{{show.name}}</td>
            <td>{{show.date}}</td>
            <td><a href='/shows/{{show.id}}'>View</a>
                {% if show.creator_id==session['user_id'] %}
                <a href='/shows/{{show.id}}/edit'>Edit</a>
                <a href='/shows/{{show.id}}/delete'>Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>