<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipe</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}    
    {% if messages %}                           
        {% for message in messages %}           
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="/dashboard">Dashboard</a>
<a href="/logout">Logout</a>
    <form action='/recipes/create' method='POST'>
        <label for="name">Name: </label>
            <input type="text" name='name'>
        <label for="date">Date Made On: </label>
            <input type="date" name='date'>
        <label for="description">Description: </label>
            <textarea name="description">Description: </textarea>
        <label for="instructions">Instructions: </label>
            <textarea name="instructions"></textarea>
        <p>Under 30 Minutes?</p>
        Yes<input type="radio" name="under30" value='yes' "checked">
        No<input type="radio" name="under30" value='no'>
        <input type="submit">

    </form>
</body>
</html>