<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome {{session['user_first_name']}}!</h1>
    <p>These are the recipes</p>
    <a href='/recipes/new'>Create</a></p>
    <a href="/logout">Logout</a>

    <table>
        <thead>
            <th>Name</th>
            <th>Under 30 Minutes?</th>
            <th>Actions</th>
        </thead>
        {% for recipe in recipes %}
        <tr>
            <td>{{recipe.name}}</td>
            <td>{{recipe.under30}}</td>
            <td><a href='/recipes/{{recipe.id}}'>View Instructions</a>
                {% if recipe.creator_id==session['user_id'] %}
                <a href='/recipes/{{recipe.id}}/edit'>Edit</a>
                <a href='/recipes/{{recipe.id}}/delete'>Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>