<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Info</title>
</head>
<body>
    
</body>
</html><h1 class="m-4">Submitted Info</h1>
<div class="form-group m-4">
    <p id="name">Name: {{session["name"]}}</p>
    <p id="location">Location: {{session["location"]}}</p>
    <p id="language">Language: {{session["language"]}}</p>
    <p id="comment">Comment: {{session["comment"]}}</p>
</div>